*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Background Last CTA*/
    --background-img: url("../imagens/footer-background.webp");

    /*Colors*/
    --grey-light: #f4f3f3;
    --grey: #595758;
    --grey-dark: #040c17;
    --grey-middle: #5957582a;
    --purple: #581FC0;
    --purple-light: #e6d0f085;
    --orange: #FCA442;
    --blue-light: #d0e6f085;
    --nav-border: #ccc;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --form-border: 1px solid var(--purple);
    --form-input-border: 1px solid var(--nav-border);

    /*Dimensions*/
    --nav-height: 80px;
    --max-width: 1440px;
    --min-height-section: 600px;
    --min-height-tec-section: 300px;
    --min-height-last-cta-section: 800px;
    --info-card: 280px;
    --info-card-img: 180px;
    --info-tec-card: 100px;
    --info-tec-card-img: 60px;
    --info-team-card: 260px;
    --info-team-card-img: 150px;
    --slideshow-card: 280px;
    --slideshow-card-img: 100%;
    --info-content-img: 240px;
    --last-cta-left: 30px;
    --last-cta-top: 30px;

    /*Font-size*/
    font-size: 16px;

}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--grey-light);
}

h1, h2, h3, h4, h5, p, span, li {
    color: var(--grey-dark);
}

.div-100w{
    width: 100%;
}

.div-80w{
    width: 80%;
}

.div-fitw{
    width: fit-content;
}

.div-100h{
    height: 100%;
}

.grey-light{
    background-color: var(--grey-light);
}

.grey-dark{
    background-color: var(--grey-dark);
}

.grey-middle{
    background-color: var(--grey-middle);
}

.blue-light{
    background-color: var(--blue-light);
}

.purple-light{
    background-color: var(--purple-light);
}

header{
    position: relative;
    top: 0;
}

/* navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--nav-height);
	z-index: 1;
	border-bottom: 1px solid var(--nav-border);
}

#nav-container{
    height: var(--nav-height);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#nav-logo img{
    width: 150px;
}

#nav-logo h3{
    text-align: right;
    font-size: 0.8125rem;
}

.cta_euquero{    
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta_euquero a{
    text-decoration: none;
    color: var(--grey-light);
    font-weight: bold;
    background-color: var(--purple);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: .5s;
    font-size: 1rem;
    padding: 10px 10px;
}

.cta_euquero a:hover{
    background-color: var(--orange);
}

.hero-section{
    margin-top: var(--nav-height);
    min-height: var(--min-height-section);
    display:flex;
}

.hero-content{
    margin: auto;
    padding: 0 10px;
}

.hero-title{
    color: var(--grey-light);
    text-align: center;
    font-size: 2.25rem;
    font-weight: normal;
    padding: 0 10px 20px 10px;
}

.hero-mod{
    color:var(--purple);
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
}

.hero-text{
    color:var(--grey-light);
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px 10px;
    margin-bottom: 40px;
}

.info-section{
    min-height: var(--min-height-section);
    display:flex;
    flex-wrap: wrap;
}

.info-content{
    margin: auto;
    padding: 10px;
}

.info-content h1{
    color: var(--grey-dark);
    text-align: center;
    font-weight: normal;
    font-size: 1.75rem;
}

.info-group-cards{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-simple-card{
    width: var(--info-card);
    padding: 20px 0;
}

.info-simple-card-img{
    text-align: center;
}

.info-simple-card-img img{
    width: var(--info-card-img);
}

.info-simple-card h2{
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.info-simple-card p{
    font-size: 1rem;
    line-height: 1.3;
}

.info-content-img-text{
    display: block;
}

.info-content-img{
    text-align: center;
}

.info-content-img img{
    width: var(--info-content-img);
}

.info-content-text{
    padding: 10px;
}

.info-content-text p, .info-content-text li{
    font-size: 1rem;
    line-height: 1.3;
}

.info-content-text ol{
    padding-left: 20px;
}

.info-tec-section{
    min-height: var(--min-height-tec-section);
    display:flex;
    flex-wrap: wrap;
}

.info-tec-card{
    width: var(--info-tec-card);
    padding: 10px 0;
    text-align: center;
}

.info-tec-card img{
    width: var(--info-tec-card-img);
}

.info-tec-card h2{
    font-size: 1rem;
    font-weight: normal;
}

.info-team-card{
    width: var(--info-team-card);
    background-color: var(--grey-light);
    box-shadow: var(--box-shadow);
    padding: 15px;
    margin: 10px 0;
    text-align: center;
}

.info-team-card img{
    width: var(--info-team-card-img);
    border-radius: 10px;
}

.info-team-card h2{
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.info-team-card-text{
    text-align: justify;
}

.info-team-card-text p{
    font-size: 1rem;
    line-height: 1.5;
}

.sell-content-title{
    margin: auto;
}

.sell-content-title h1{
    text-align: center;
    font-size: 2.625rem;
    font-weight: normal;
}

.sell-content{
    margin-top: 40px;
    display:block;
}

.sell-content-form{
    margin: auto;
    border: var(--form-border);
    border-radius: 10px;
    padding: 15px;
    max-width: 420px;
}

.sell-content-form h2{
    font-size: 1.375rem;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}

.sell-content-form input{
    height: 40px;
    width: 100%;
    margin: 5px 0;
    border: var(--form-input-border);
    border-radius: 10px;
    font-size: 0.875rem;
}

.sell-content-form input[type=submit]{
    height: 45px;
    background-color: var(--orange);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    color: var(--grey-light);
    font-size: 1rem;
    font-weight: bold;
    transition: .5s;
}

.sell-content-form input[type=submit]:hover{
    background-color: var(--purple);
}

.sell-content-form input::placeholder{
    padding: 10px;
}

.sell-content-text{
    padding: 10px;
}

.sell-content-text h2{
    font-size: 1.375rem;
    margin: 10px 0;
}

.sell-content-text ul{
    padding-left: 20px;
}

.sell-content-text li{
    font-size: 1rem;
    line-height: 1.5;
}

.slideshow-content{
    position: relative;
    width: fit-content;
    margin: auto;   
}

.slideshow-card{
    width: var(--slideshow-card);
    display: none;
}

.slideshow-card img{
    width: var(--slideshow-card-img);
    box-shadow: var(--box-shadow);
}

.slideshow-card-position{
    color:var(--grey-light);
    background-color: var(--grey-middle);
    border-radius: 20px;
    font-size: 0.75rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--grey-light);
    font-weight: bold;
    font-size: 1.125rem;
    background-color: var(--grey-middle);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: var(--grey-dark);
  }

.slideshow-controlls{
    margin-top: 20px;
    text-align: center;
}

.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--grey-light);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: var(--grey-dark)
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.last-cta-section{
    min-height: var(--min-height-last-cta-section);
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--grey-dark); 
    display: flex;
}

.last-cta-content{
    width: fit-content;
    height:100%;
    position: relative;
    left: var(--last-cta-left);
    top: var(--last-cta-top);
}

.last-cta-texto{
    width: fit-content;
    background-color: var(--purple-light);
    padding: 5px;
    margin-bottom: 20px;
}

.last-cta-texto h1{
    font-size: 3.5rem;
    color: var(--grey-light);
    font-weight: normal;
    text-shadow: 0 0 2px var(--grey-dark);
}

.last-cta-texto span{
    font-size: 3.5rem;
    color: var(--grey-light);
    font-weight: bold;
    text-shadow: 0 0 2px var(--grey-dark);
}

.last-cta-euquero{    
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-cta-euquero a{
    text-decoration: none;
    color: var(--grey-light);
    font-weight: bold;
    background-color: var(--orange);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: .5s;
    font-size: 1.25rem;
    padding: 10px 20px;
}

.last-cta-euquero a:hover{
    background-color: var(--purple);
}

#section-cookies{
    min-height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #595758;
    display: none;   
    align-items: center; 
}

.content-cookies{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.content-cookies p, .content-cookies a{
    color: #F4F3F3;
    font-size: 14px;
    font-weight: normal;
}

.section-cookies-close a{
    text-decoration: none;
    color: #F4F3F3;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
}

.section-cookies-close a:hover{
    color: #FCA442;
}

footer{
    width: 100%;
    height: auto;
    background-color: #040c17;    
}

footer h3{
    color: #F4F3F3;
}

#footer-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

.company-info{
    padding: 20px;
    width: auto;
}

.company-info h3{
    font-size: 1.125rem;
    font-weight: bold;
}

.company-info p{
    margin-top: 5px;
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--grey-light);
}

.company-contacts{
    padding: 20px;
}

.company-social-networks{
    margin-bottom: 20px;
}

.company-social-networks p{
    margin-top: 5px;
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--grey-light);
}

.company-social-networks a{
    transition: .5s;
    color: var(--grey-light);
    padding-right:10px;
}

.company-social-networks a:hover{
    color: var(--orange);
}

.company-info-contacts{
    margin-top: 20px;
}

.contacts-item{
    margin-top: 10px;
}

.contacts-item i{
    font-size: 1rem;
    font-weight: normal;
    color: var(--grey-light);
}

.contacts-item span{
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--grey-light);
}

/*
@media screen and (max-width: 1440px) {

    #content-last-cta{
        left: 20%;
    }
    
    #last-cta-texto h1{
        font-size: 84px;
    }
    
    #last-cta-texto span{
        font-size: 84px;
    }
    
    #last-cta-euquero{
        font-size: 36px;
    }

}

@media screen and (max-width: 1024px) {

    #content-07{
        width: 80%;
    }

    #last-cta-texto h1{
        font-size: 72px;
    }
    
    #last-cta-texto span{
        font-size: 72px;
    }

    #last-cta-euquero{
        font-size: 28px;
    }

}

@media screen and (max-width: 768px) {

    #content-02-title h1{
        font-size: 42px;
    }

    .content-02-card h2, .content-08-card h2, #content-09-form-border h2, #content-09-sub-title h2{
        font-size: 22px;
    }
    
    .content-02-card p, #content-03-p p, #content-04-p p, #content-05-p p, #content-05-p li, #content-06-p p, #content-09-ul li{
        font-size: 16px;
    }



    #content-03-img img, #content-05-img img, #content-06-img img{
        width: 240px;
    }
    
    #content-03-title h1, #content-04-title h1, #content-05-title h1, #content-06-title h1, #content-07-title h1, #content-08-title h1{
        font-size: 28px;
    }
    
    #content-03-p, #content-04-p, #content-05-p, #content-06-p{
        margin: 0;
        padding: 30px auto;
    }

    #content-04-img img{
        width: 320px;
    }

    #content-07{
        width: 90%;
    }
    
    #content-07-cards{
        margin-top: 30px;
    }
    
    .content-07-card{
        width: 100px;
        padding: 10px;
    }
    
    .content-07-card-img img{
        width: 60px;
    }
    
    .content-07-card h2{
        font-size: 16px;
    }
    
    #content-09-form-sub-title-ul{
        margin-top: 30px;
    }
    
    #content-09-sub-title-ul{
        width: 100%;
        padding: 0;
    }
    
    #content-09-ul li{
        line-height: 1.5;  
    }

    #content-last-cta{
        left: 10%;
    }
    
    #last-cta-texto h1{
        font-size: 64px;
    }
    
    #last-cta-texto span{
        font-size: 64px;
    }
    
    #last-cta-euquero{
        font-size: 24px;
    }

    #footer-content p{
        font-size: 12px;
    }
    
    #footer-col01 h3{
        font-size: 20px;
    }
    
    #footer-col01 h4{
        font-size: 14px;
    }

}

@media screen and (max-width: 425px) {

    #content-01 h1{
        font-size: 42px;
        padding: 0 20px 20px 20px;
    }
    
    #content-01 h2{
        font-size: 42px;
        padding: 20px 0;
    }
    
    #content-01 p{
        font-size: 18px;
    }

    #content-02-title h1{
        font-size: 36px;
    }

    .content-02-card h2{
        font-size: 20px;
    }
    
    .content-02-card-img img{
        width: 150px;
    }

    #content-03-img-p, #content-04-img-p, #content-05-img-p, #content-06-img-p{
        display: block;
    }

    #content-03-img, #content-04-img, #content-05-img, #content-06-img{
        margin-top: 10px;
        text-align: center;
    }

    #content-03-img img, #content-05-img img, #content-06-img img{
        width: 280px;
    }

    #content-04-img img{
        width: 320px;
    }
    
    #content-03-p, #content-04-p, #content-05-p, #content-06-p{
        margin:0;
        padding: 20px 20px;
    }

    #content-09-form-sub-title-ul{
        display:block;
    }

    #content-09-form{
        width: 90%;
    }
    
    #content-09-sub-title-ul{
        padding: 0;
        margin: 20px 0 20px 20px;
    }

    #content-09-ul{
        padding-left: 0;
    }

    .content-10-card{
        width: 280px;
    }
  
    #section-last-cta{
        display: block;
        min-height: 600px;
    }

    #content-last-cta{
        top: 20px;
        left: 20%;
    }

    #footer-content{
        display: block;
    }

    #footer-col01{
        margin: auto;
        width: fit-content;
    }

    #footer-social{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    #footer-direitos{
        text-align: center;
    }

    #footer-content p{
        font-size: 12px;
    }
    
    #footer-col01 h3{
        font-size: 18px;
    }
    
    #footer-col01 h4{
        font-size: 12px;
    }

}

@media screen and (max-width: 375px) {

    .content-02-card{
        width: 260px;
        padding: 10px;
    }
    
    #content-05{
        width: 80%;
        background-color: #581FC0;
    }

    .cta_euquero li a{
        font-size: 16;
        padding: 10px 10px;
    }

    #nav-logo img{
        width: 150px;
    }
    
    #nav-texto h3{
        font-size: 13px;
    }

    #content-last-cta{
        left: 15%;
    }

}

@media screen and (max-width: 320px) {

    #content-01 h1{
        font-size: 36px;
        padding: 0 20px 20px 20px;
    }
    
    #content-01 h2{
        font-size: 36px;
        padding: 20px 0;
    }
    
    #content-01 p{
        font-size: 16px;
    }

    #content-03-title h1, #content-04-title h1, #content-05-title h1, #content-06-title h1, #content-07-title h1, #content-08-title h1{
        font-size: 24px;
    }

    #content-03-img img, #content-05-img img, #content-06-img img{
        width: 240px;
    }

    #content-04-img img{
        width: 260px;
    }

    .content-10-card{
        width: 260px;
    }

}
*/